



.node-type-recipe #user-toolbar,.node-type-recipe a.flag,.node-type-recipe #comments,.node-type-recipe #header,.node-type-recipe #footer,.node-type-recipe .messages,.node-type-recipe .recipe-links,.node-type-recipe .recipe-tags,.node-type-recipe .action-menu,.ad{display:none;}a:link,a:visited,a:active,a.active,li a.active,.pager-current,#site-name a:hover,#user-toolbar ul li a:hover{color:#666;}body{font-size:112%;}.node.recipe .recipe-images a:before{content:'';}
